<h2>New Year Offer!!!</h2>
<p>
  We know what it’s like to hunt for a gym that has all the equipment you could
  possibly need. That’s why Slam is a great spot for you to get those reps on in
  a squat cage or beat some battle ropes. Slam’s high functional training comes
  with a New Year’s offer where their annual membership comes at the discounted
  rate of just INR 11,111, so what are you waiting for?
</p>
<img
  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRm1T5yhLFvdzLq9clIUJLI_Mk4pdgYna2nSw&usqp=CAU"
  class="img-responsive"
/>
<p>Author:vids@avengers.com</p>
<p>date:01 jan 2023</p>
<button>edit</button>
<button>delete</button>
